h1{
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: black;
    z-index: 10;
    margin: 0;
    padding: 0;
}
.search{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    width: 200px;
    z-index: 10;

}
.search{
    width: 200px;
    padding: 0.5rem;
    font-size: 1.5rem;

}
/* .InfoWindow {
    width: 100%;
    max-width: 50px;
} */