/* The following block can be included in a custom.scss */

/* make the customizations */

$primary: #27272794;

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
